{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "overrides": [],
  "parserOptions": {
    "project": ["./tsconfig.json"],
    "sourceType": "module"
  },
  "ignorePatterns": [
    "orval.config.ts" // add here the exclusion of the file
  ],
  "plugins": ["prettier", "react", "@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/display-name": "off",
    "no-empty-function": "off",
    "@typescript-eslint/no-empty-function": "off"
  }
}
